#header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 75px;
  padding-left: 5px;
  border-bottom: 1px solid black;
  z-index: 5;
}

.logo {
  display: inline-flex;
  color: middleAquamarine;
  padding-left: 5px;
}

.upnav {
  display: inline-block;
  /*position: fixed;*/
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.upnav a {
  text-decoration: underline;
  color: black;
}
.column {
  display: flex;
  overflow: scroll;
  border: 2px solid red;
}

.column .large {
  display: flex;
  padding-right: 25px;
  flex-direction: column;
  width: 630px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  border: 1px solid blue;
}

.column .mainimg {
  display: flex;
  background-image: url("../resources/images/img-story-main.png");
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
  width: 630px;
  border: 1px solid blue;
}

.column .large .large1 {
  width: 630px;
  border: 1px solid blue;
}

.column .large .large2 {
  width: 630px;
  border: 1px solid blue;
}

.column .large .large3 {
  width: 630px;
  border: 1px solid blue;
}

.column .large .earth {
  display: flex;
  background-image: url("../resources/images/img-story-2.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 250px;
  width: 630px;
  border: 1px solid blue;
}
.column .large .large4 {
  width: 630px;
  border: 1px solid blue;
}

.column .large .research {
  background-image: url("../resources/images/img-story-3.png");
  height: 250px;
  width: 630px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: 1px solid blue;
}

.column .middle {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  width: 300px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  border: 1px solid green;
}

.column .middle .mid1 {
  width: 300px;
  border: 1px solid green;
}

.column .middle .cats {
  background-image: url("../resources/images/img-story-1.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 300px;
  border: 4px solid green;
}

.column .middle .mid3 {
  width: 300px;
  border: 1px solid green;
}

.column .small {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  border: 1px solid purple;
}

.column .small .sm1 {
  width: 240px;
  border: 1px solid purple;
}

.column .small .sm2 {
  width: 240px;
  border: 1px solid purple;
}

.column .small .sm3 {
  width: 240px;
  border: 1px solid purple;
}
