#header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 75px;
  padding-left: 5px;
  border-bottom: 1px solid black;
  z-index: 5;
}

.logo {
  display: inline-flex;
  color: middleAquamarine;
  padding-left: 5px;
}

.upnav {
  display: inline-block;
  /*position: fixed;*/
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.upnav a {
  text-decoration: underline;
  color: black;
}
.column {
  display: flex;
}

.column .large {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  padding-right: 25px;
  padding-top: 25px;
  width: 630px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column .mainimg {
  display: flex;
  background-image: url("../resources/images/img-story-main.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 310px;
  width: 630px;
}

.column .stories {
  display: flex;
  justify-content: space-between;
}

/*.column .large .large1 {
  border: 1px solid blue;
  width: 630px;
  flex-wrap: wrap;
}*/

.column .large .large2 {
  width: 630px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column .large .large3 {
  width: 310px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column .large .earth {
  background-image: url("../resources/images/img-story-2.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 250px;
  width: 310px;
  text-align: center;
}
.column .large .large4 {
  width: 310px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column .large .research {
  background-image: url("../resources/images/img-story-3.png");
  height: 250px;
  width: 310px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column .middle {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  width: 310px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column .middle .mid1 {
  width: 310px;
}

.column .middle .cats {
  background-image: url("../resources/images/img-story-1.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 310px;
  width: 310px;
}

.column .middle .mid3 {
  width: 310px;
}

.column .small {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column .small .sm1 {
  width: 240px;
}

.column .small .sm2 {
  width: 240px;
  text-align: center;
}

.column .small .sm2 .newslist li {
  width: 240px;
  margin: 0;
  border-top: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style: none;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.column .small .sm2 .newslist .lilast {
  width: 240px;
  margin: 0;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style: none;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;

}

.column .small .sm3 {
  width: 240px;
}

footer {
  width: 1250px;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
}

.site-name a {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-right: 2px solid white;
}

.footer-links {
  padding-top: 60px;
}

footer a {
    color: black;
    padding: 0 20px;
}

.copyright {
    padding-bottom: 60px;
}
